<ion-row class="row-height" [ngClass]="{'row-inactive': activeRow !== currentRow, 'row-active': activeRow === currentRow}">
    <ion-col class="result-col" [ngClass]="{'inactive' : ! activateResultColumn, 'active' : activateResultColumn}">
        <div class="slot" (click)="checkUserColorSequence()"></div>
    </ion-col>
    <ion-col *ngFor="let col of [1, 2, 3, 4]; let localFirst = first" [class.offset-1]="localFirst === true">
        <div *ngIf="currentRow !== activeRow" class="slot"></div>
        <div *ngIf="currentRow === activeRow" colorSlot [currentColor]="currentColor" (slotChanged)="updateRow()"></div>
    </ion-col>
</ion-row>
