<ion-row class="row-height" [ngClass]="{'row-inactive': activeRow !== currentRow, 'row-active': activeRow === currentRow}">
    <ion-col class="result-col inactive"></ion-col>
    <ion-col offset-1>
        <div colorSlot [currentColor]="currentColor"> </div>
    </ion-col>
    <ion-col>
        <div colorSlot [currentColor]="currentColor"> </div>
    </ion-col>
    <ion-col>
        <div colorSlot [currentColor]="currentColor"> </div>
    </ion-col>
    <ion-col>
        <div colorSlot [currentColor]="currentColor"> </div>
    </ion-col>
</ion-row>
