// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.modal-wrapper {
    z-index: 10;

    height: 100%;

    contain: strict;

    @media only screen and (min-width: $modal-inset-min-width) and (min-height: $modal-inset-min-height-small) {
        position: absolute;
        top: calc(50% - (#{$modal-inset-height-small}/2));
        left: calc(50% - (#{$modal-inset-width}/2));

        width: $modal-inset-width;
        height: $modal-inset-height-small;
    }

    @media only screen and (min-width: $modal-inset-min-width) and (min-height: $modal-inset-min-height-large) {
        position: absolute;
        top: calc(50% - (#{$modal-inset-height-large}/2));
        left: calc(50% - (#{$modal-inset-width}/2));

        width: $modal-inset-width;
        height: $modal-inset-height-large;
    }
}

.md .modal-wrapper {
    opacity: .01;
    transform: translate3d(0, 40px, 0);

    @media only screen and (min-width: $modal-inset-min-width) and (min-height: $modal-inset-min-height-small) {
        overflow: hidden;

        border-radius: 3px;

        box-shadow: none;
    }
}
