<ion-content padding scroll="false" class="menu-content">
    <ion-grid [style.margin-top.px]="50">
        <ion-row>
            <ion-col col-4 offset-2>
                <ion-row padding>
                    <ion-col *ngIf="!running">
                        <a class="game-control" (click)="play()">Play</a>
                    </ion-col>
                    <ion-col *ngIf="running">
                        <a class="game-control" (click)="resume()">Resume</a>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="running" padding>
                    <ion-col>
                        <a class="game-control" (click)="quitGame()">Quit Game</a>
                    </ion-col>
                </ion-row>
                 <ion-row padding>
                    <ion-col >
                        <a class="game-control" (click)="settingsMenu()">Settings</a>
                    </ion-col>
                </ion-row>
               <ion-row padding>
                    <ion-col>
                        <a class="game-control">Exit</a>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="stats">
            <ion-col>
                <ion-row>
                    <ion-col offset-1>
                        <span>Best score: {{stats?.bestTime.min}}:{{stats?.bestTime.sec}}:{{stats?.bestTime.micSec}}</span>
                    </ion-col>
                    <ion-col>
                        <span>Difficulty: {{settings.difficulty}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col offset-1>
                        <span>Games Played: {{stats?.numberOfGames}}</span>
                    </ion-col>
                    <ion-col>
                        <span>Theme: {{settings.theme}}</span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
     </ion-grid>
</ion-content>
