<ion-content padding scroll="false" class="menu-content">
    <ion-grid [style.margin-top.px]="50">
        <ion-row>
            <ion-col col-4 offset-2>
                <ion-row padding>
                    <ion-col *ngIf="!running">
                        <a class="game-control" (click)="play()">Play</a>
                    </ion-col>
                    <ion-col *ngIf="running">
                        <a class="game-control" (click)="resume()">Resume</a>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="running" padding>
                    <ion-col>
                        <a class="game-control" (click)="quitGame()">Quit Game</a>
                    </ion-col>
                </ion-row>
                 <ion-row padding>
                    <ion-col >
                        <a class="game-control" (click)="settings()">Settings</a>
                    </ion-col>
                </ion-row>
               <ion-row padding>
                    <ion-col>
                        <a class="game-control">Exit</a>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
     </ion-grid>
</ion-content>
