// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #928374,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
);

$theme-defaults: (
    orange : #fe8019,
    yellow : #d79921,
    green  : #98971a,
    cyan   : #2aa198,
    blue   : #268bd2,
    magenta: #6c71c4,
    pink   : #d33682,
    red    : #cc241d,
    grey   : #928374,
    black  : #3c3836,
    match  : #3c3836,
    exist  : #928374,
    light  : #fbf1c7,
);

$colors: map-merge($colors, $theme-defaults);

$themes: (
    default: map-merge($theme-defaults, (
        //design colors here
        button-bg: #ebdbb2,
        button-fg: #928374,
        button-shadow: #928374,

        background : #f9f5d7,
        foreground : #928374,
        control-bg : #ebdbb2,
        game-wraper: #bdae93
    )),
    alternate: map-merge($theme-defaults, (
        //design colors here
        button-bg: #504945,
        button-fg: #f9f5d7,
        button-shadow: darken(#504945, 15),

        background : #32302f,
        foreground : #d5c4a1,
        control-bg : #504945,
        game-wraper: #928374
    ))
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$grid-columns: 8 !default;

$grid-breakpoints: (
    xs: 0,
    sm: 360px,
    md: 410px,
    lg: 768px,
) !default;

$grid-max-widths: (
    xs: 260px,
    sm: 330px,
    md: 360px,
    lg: 718px,
) !default;
