main-scene {
    .offset-1 {
        margin-left: 12.5%;
    }
    .control-bar {
        ul.controls {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            margin: 0;
            padding-left: 0;
            li {
                order: 2;
                padding: 0 5px 5px;
                &.timer {
                    order: 1;
                    align-self: flex-start;
                     margin-right: auto;
                     padding: 4px 5px;
                }
            }
        }
    }
    .row-height {
        height: 40px;
        @media (max-width: 768px) and (min-width: 410px) {
            height: 44.19px;
        }
        // @media (min-width: 768px) {
        //     height: 91.17px;
        // }
}
   .color-chooser {
        margin-top: 10px;
        .row:first-child .col {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .row:last-child .col {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    .hidden-sequence {
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        .col:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .col:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    .slot {
        height: 29.75px;
        border-radius: 50%;
        transition: background-color .1s ease-out;
        @media (max-width: 768px) and (min-width: 410px){
             height: 33.75px;
        }
        // @media (min-width: 768px) {
        //     height: 78.5px;
        // }
    }
 }

